@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lobster";
  src: url("./assets/fonts/Lobster-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rhodium Libre";
  src: url("./assets/fonts/RhodiumLibre-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  /* custom colors */
  --color-black-900: hsla(240, 3%, 7%, 1); /* #121213 */
  --color-grey-900: hsla(0, 0%, 12%, 1); /* #1E1E1E */
  --color-grey-800: hsla(240, 2%, 23%, 1); /* #3a3a3c */
  --color-grey-500: hsla(200, 1%, 51%, 1); /* #818384 */
  --color-grey-50: hsla(0, 0%, 97%, 1); /* #f8f8f8 */
  --color-red-600: hsla(5, 71%, 44%, 1); /* #C02F2 */
  --color-green-600: hsla(115, 29%, 43%, 1); /* #538d4e */
  --color-yellow-600: hsla(49, 51%, 47%, 1); /* #b59f3b */
  
  /* custom font sizes */
  --text-base: 1rem;     /* 16px */
  --text-md: 1.25rem;    /* 20px */
  --text-xl: 2rem;       /* 32px */
  --text-xxxl: 4rem;     /* 64px */
  
  /* custom fonts */
  --font-roboto: "Roboto", serif;
  --font-lobster: "Lobster", serif;
  --font-rhodium-libre: "Rhodium Libre", serif;
}

@layer base {
  body{
    @apply bg-black-900 text-gray-50;
  }
}